body{
	font-size: 26px;
	font-family: 'Raleway', sans-serif;
}
nav ul a{
	font-size: 1em !important;
}
nav ul a:hover{
	color: #7AB518;
}
input{
	border-bottom: 2px #7AB518 solid !important;
}
.select-wrapper input.select-dropdown{
	color: white !important;
	font-size: 1.25rem !important;
}
#logo_500{
	width: 100px;
}

#slider1{
	background-image: url("../images/slider-1-C.jpg");
	background-repeat: round;
	height: 100%;
	
}
.ec-stars-wrapper {
	/* Espacio entre los inline-block (los hijos, los `a`) 
	   http://ksesocss.blogspot.com/2012/03/display-inline-block-y-sus-empeno-en.html */
	font-size: 0;
	/* Podríamos quitarlo, 
		pero de esta manera (siempre que no le demos padding), 
		sólo aplicará la regla .ec-stars-wrapper:hover a cuando
		también se esté haciendo hover a alguna estrella */
	display: inline-block;
}
.ec-stars-wrapper a {
	text-decoration: none;
	display: inline-block;
	/* Volver a dar tamaño al texto */
	font-size: 32px;
	font-size: 2rem;
	
	color: #888;
}

.ec-stars-wrapper:hover a {
	color: #7AB518;
}
/*
 * El selector de hijo, es necesario para aumentar la especifidad
 */
.ec-stars-wrapper > a:hover ~ a {
	color: #888;
}

.tabs .indicator{
	background-color:  white !important;
	height: 4px !important;
}
.blue-color{
	background-color: #465057 !important;
}
.blue-texto{
	color: #465057 !important;
}
.blue-texto-oscuro{
	color: #252E30 !important;
}
.green-color{
	background-color: #7AB518 !important;
}
.green-texto{
	color: #7AB518 !important;
}
.icono-cabecera{
	margin-top: 0.5em;
	margin-left: 0.5em;
	color: #7AB518;
}
.sin-espacio{
	margin-bottom: 0px !important;
}
.sin-espacio-top{
	margin-top: 0px !important;
}
.sombra{
	background-color: #47515878;
}
.blue-color-light{
	background-color: #59646B !important;
}
.blue-color-black{
	background-color: #313A41 !important;
}
.blue-color-oscuro{
	background-color: #252E30 !important;
}
.planes:hover{
	background-color: #7AB518 !important;
}
.titulo{
	font-family: 'Abril Fatface', cursive;
	text-transform: uppercase;
}
.select-wrapper .caret{
	fill: white !important;
}
.dropdown-content li>a, .dropdown-content li>span{
	color: #7AB518 !important;
}
.select-month .select-dropdown.dropdown-trigger{
	color: black !important;
}
.select-year .select-dropdown.dropdown-trigger{
	color: black !important;
}
.datepicker-date-display{
	background-color:  #7AB518 !important;
}
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done{
	color: #7AB518 !important;
}
.datepicker-table td.is-selected{
    background-color: #7AB518 !important;
}
.input-field>label{
	font-size: 1.25rem !important;
}
[type="radio"]:not(:checked)+span, [type="radio"]:checked+span{
	font-size: 1.25rem !important;	
}
[type="checkbox"]+span:not(.lever){
	font-size: 1.25rem !important;	
}
[type="checkbox"].filled-in:checked+span:not(.lever):after{
	border: 2px solid #7AB518 !important;
	background-color: #7AB518 !important;
}
[type="checkbox"].filled-in:not(:checked)+span:not(.lever):after{
	background-color: white !important;
}