#logo_500{
	width: 100px;
}

#slider1{
	background-image: url('https://www.recomendia.es/views/layouts/tiendaonline/img/carrousel/ZGcJoN.jpg');
	background-repeat: round;
	height: 100%;
}
#sombra{
	background-color: #000000a3;
	width: 100%;
	height: 100%;
}